<div>
  <% @cities.each_with_index do |city,index| %>
    <% if city.city.split("'").count == 1 %>
      <%= link_to "<div class='citySuggest'>#{city.city}, #{city.state}</div>".html_safe ,root_path(:city => city.city, :state => city.state),:remote => true, :style => 'color: #333333;font-family: arial;font-size: 12px;text-decoration: none;' %>
    <% end %>
  <% end %>
</div>
<script>
  $(function() {
    $("a[rel='tab']").click(function(e) {
      pageurl = $(this).attr('href');
      $.ajax({
        url: pageurl + '?rel=tab',
        success: function(data) {
          $('#header').css('display', 'none');
          $('#maincontent').html(data);
        }
      });

      if (pageurl != window.location) {
        window.history.pushState({
          path: pageurl
        }, '', pageurl);
      }
      return false;
    });
  });

  $(window).bind('popstate', function() {
    $.ajax({
      url: location.pathname + '?rel=tab',
      success: function(data) {
        $('#maincontent').html(data);
      }
    });
  });
</script>