<div class="innerContainer" style="margin: 0 auto; min-height: 900px; width: 980px;padding-top: 0px;">
  <h1 class="aboutTitle"><img src="/assets/about-banner.png" /></h1>
  <div id="aboutTagline"><p class="aboutPara">Let us make your life easier by allowing you quicker access to any businesesses hours of operation. We know the struggle ofo having to conduct multiple searches in order to find the business hours you are looking for. Next time, give us a try.</p></div>
  <div class="aboutTopics" id="ourMission">
    <h2 class="aboutHead2">Our Mission</h2>
    <p class="aboutPara">
      Our job is to provide you with business hours as quickly and easily as possible. It is our goal to ultimately have every business in Canada and their hours of operation inside of our database. Whether you are in a hurry, planning to visit a business in the future, or are simply looking for a phone number, When is it Open has the features and information you need to know when to go.
    </p>
  </div>
  <div class="aboutGutter"></div>
  <div class="aboutTopics" id="howItWorks">
    <h2 class="aboutHead2">How it works</h2>
    <p class="aboutPara">
      Our website automatically determines your current location to display business locations relative to where you are. Conveniently, our website is organized to display businesses according to what is closest to your current location. If you wish to locate a business in a different city from the one you are presently in simply change the city in the locations box. This will filter the results to only display business locations within the city you desire.
    </p>
  </div>
  <div class="aboutTopics" id="ohNo">
    <h2 class="aboutHead2">Oh no! They are closed</h2>
    <p class="aboutPara">
      We realize that often times the business you wish to visit may be currently closed. That is why we also offer a section that displays to you similar businesses that are currently open. This section is useful if you are looking for a particular type of business that is open right now. It will also be helpful if the business you searched for returned no hours of operation.
    </p>
  </div>
  <div class="aboutGutter"></div>
  <div class="aboutTopics" id="theCountdown">
    <h2 class="aboutHead2">The Countdown</h2>
    <p class="aboutPara">Have you ever asked yourself how much time you have until a business opens or closes? The countdown was created to eliminate this question from your concern. The digital countdown calculates how much time you’ve got so you don’t have to. It functions so that if a business is currently open, it will countdown until when it closes. Similarly, if a business is currently closed, it will countdown until when it opens. As a result, you are given both the hours of operation you need as well as the ease of mind to decide whether you can make it on time or not. 
    </p>
  </div>
</div>