<div class="innerContainer" style="margin: 0 auto; min-height: 780px; width: 980px;padding-top: 0px;">
  <h1 class="abt">About Us</h1>
  <div class="Mission">
    <h2 class="head2">Our Mission</h2>
    <p class="para">
      Our job is to provide you  with business hours as quickly and easily as possible. It is
      our goal to ultimately have every business in Canada and their hours of operation
      inside of our database. Whether you are in a hurry, planning to visit a business in the
      future, or are simply looking for a phone number, When is it Open has the features and
      information you need to know when to go!!
    </p>
  </div>
  <div class="works">
    <h2 class="head2">How it works</h2>
    <p class="para">
      Our website automatically determines your current location to display business locations
      relative to where you  are. After  you enter a business name we locate it inside of
      our vast database and display it to you in a quick and easy fashion. Conveniently,
      our website is organized to display businesses according to what is closest to your
      current location. If you wish to locate a business in a different city from the one you are
      presently in, simply change the city in the locations box. This will filter the results to only
      display business locations within the city you desire.
    </p>
  </div>
  <div class="works">
    <h2 class="head2">Oh no! They are closed!</h2>
    <p class="para">
      We realize that oftentimes the business you wish to visit  may currently be  closed.
      That is why we also offer a section that displays to you similar businesses that are
      currently open. The colour green symbolizes those businesses which are open, red
      symbolizes those which are closed, and blue is attributed to those businesses with no
      hours available. However, if we do not have the hours for a business you wish to find,
      we display the  business’  phone number for you to call, and if possible a link to their
      website, so that you may inquire for yourself.
    </p>
  </div>
  <div class="Countdown">
    <h2 class="head2">The Countdown</h2>
    <p class="para">Have you ever asked yourself how much time you have until a business opens or
      closes? The countdown was created to eliminate this question from your concern! The
      digital countdown calculates how much time you’ve got so you don’t have to! It functions
      so that if a business is currently open, it will countdown until when the business closes.
      Similarly, if the business is currently closed, it will countdown until when the business
      opens. As a result, you are given both the hours of operation you need as well the ease
      of mind to decide whether you can make it on time or not.
    </p>
  </div>
</div>
