<div class="innerContainer" style="margin: 0 auto; min-height: 700px; width: 980px;padding-top: 0px;">
  <h1 class="abt">About Us</h1>
  <div class="Mission">
    <h2 class="head2">Our Mission</h2>
    <p class="para">Our job is to provide you with any business’ hours of operation as fast and easily as possible. It is our goal to ultimately house every business in Canada and their hours of operation in our database!</p>
  </div>
  <div class="works">
    <h2 class="head2">How it works</h2>
    <p class="para">Simply type into the search engine the name of the business that you would like to know the hours of operation for. We then automatically locate the business you wish to find inside of our database, and display it to you in a quick and easy fashion. It is organized so that the results are presented from closest location to furthest in relation to your current position. If you are in need of a specific location’s hours of operation, you may either type in the address of that location, or scroll down the page and chose from a selection of other locations nearest you.</p>
  </div>
  <div class="Countdown">
    <h2 class="head2">The Countdown</h2>
    <p class="para">The digital countdown clock that is displayed inside of the watch is meant to provide you with useful information in a visually assistive way. It functions so that if a business is currently open, it will countdown until when the business closes, and if the business is currently closed, it will countdown until when the store opens. Have you ever asked yourself how much time you have until a business opens or closes? The countdown was created to eliminate this question from your life! As a result, you are given both the information you desire, as well the ease of mind to decide whether you can make it on time or not.</p>
    <h2 class="head2">Can i make it? (coming soon)</h2>
  </div>
</div>