@import "style.css";
@import "styleabt.css";

.previous_page.disabled,.next_page.disabled,a.next_page,a.previous_page{
    padding: 3px 55px 0px 7px;
    width: 62px;
    height: 22px;
}
a.next_page{
    background-image: url(/assets/Next-Orange.png); 
}
a.previous_page{
    background-image: url(/assets/prev-orange.png); 
    position: relative;
    left: -10px;
}
.previous_page.disabled{
    background-image: url(/assets/prev-grey.png); 
    position: relative;
    left: -10px;
}
.next_page.disabled{
    background-image: url(/assets/next-grey.png); 
}

#footerContentContainer {
    width:100%;
    background:#EAEAEA;
    overflow:hidden;
    position: relative;
    top: -35px;
    min-height: 205px;
}

#footerContent {
    width:870px;
    margin: 0 auto;
}

.footerColumn {
    float:left;
    width:250px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 25px 0px 0px 0px; 
    position: relative;
    left: 50px;
}

.footerAbout {
    font-size:12px;
    color:#404040;
}

.footerColumn img {
    padding-right:8px;
    vertical-align:middle;
}

.footerGutter {
    float:left;
    width:60px;
    height:5px;
}

.footerTitle {
    margin:0;
    padding:0;
    font-weight:normal;
}

.footerTitle a {
    text-decoration:none;
    color:#007d8f;
}

.footerTitleText {
    font-size:16px;
    line-height:16px;	
}

.footerTweet {
    padding-left:15px;
    background-image:url(/assets/footer-tweet-bg.png);
    background-position:left top;
    background-repeat:no-repeat;
    font-size:12px;
    color:#404040;
}

.footerTweetDate {
    padding-left:15px;
    font-size: 10px;
    color:#007d8f;
    font-style:italic;
}

.recentAddedList {
    float:left;
    width:50%;
}

.recentlyAdded {
    font-size:12px;
    line-height:16px;
    color:#404040;
    padding-bottom:0;
    margin-bottom:0;
}

.jquery-notify-bar {
    width:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:32768;
    background-color:#E2E3E4;
    font-size:18px;
    text-align:center;
    font-family: Arial, Verdana, sans-serif;
    padding:20px 0px;
    border-bottom:1px solid #bbb;
    cursor: pointer;
}

.jquery-notify-bar.error,.jquery-notify-bar.alert {
    color: #FC0000;
    background-color:#E2E3E4;
    font-weight: bold;
}
.jquery-notify-bar.success, .jquery-notify-bar.notice {
    color:#076606;
    background-color:#E2E3E4;
    font-weight: bold;
}
.jquery-notify-bar.warning {
    color: #BF6347;
    background-color:#E2E3E4;
    font-weight: bold;
}
.notify-bar-close {
    position:absolute;
    left:95%;
    font-size:11px;
}
div.time-picker {
    position: absolute;
    height: 191px;
    width:4em; /* needed for IE */
    overflow: auto;
    background: #fff;
    border: 1px solid #aaa;
    z-index: 99;
    margin: 0;
}
div.time-picker-12hours {
    width:5em; /* needed for IE */
}

div.time-picker ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.time-picker li {
    cursor: pointer;
    height: 10px;
    font: 12px/1 Helvetica, Arial, sans-serif;
    padding: 4px 3px;
}
div.time-picker li.selected {
    background: #0063CE;
    color: #fff;
}

.text{
    background-color: #E5E5E5;
    min-height: 36px;
    min-width: 180px;
    max-width: 290px;
    border: 1px solid #E5E5E5;
    box-shadow: 1px;
    border-radius: 10px;
    position: relative;
    top: -4px;
    left: -2px;
}

#business_category,#business_state{
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    box-shadow: 1px;
    max-width: 190px;
    padding: 8px;
    border-radius: 10px;
}
.time{
    width: 68px;
    padding: 2px;
}

#save_button{
    position:relative;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    width: 110px;
    padding: 5px;
    text-align: center;
    left: 25px;
    margin-top: 10px;
    background-color: #60BED2;
    font-weight: bold;
}

#business_comment{
    left: 270px;
    position: relative;
    top: 17px;
}

#add_a_listing{
    color: #404040;
    float: right;
    font-family: icon;
    font-size: 20px;
    font-weight: bold;
    left: 340px;
    position: relative;
    top: 115px;
}

#add_list_background{
    display: block;
    float: left;
    position: relative;
    top: 125px;
    left: 230px;
    width: 496px;
    min-height: 849px;
    height: auto;
    background-repeat:no-repeat;
    background-image: url(/assets/form_background.png);
}

.left{
    padding-left: 2px;
}
