/* CSS Document */
#ContactContainer1 {


}
.abtcon {
    margin: 0 auto;
    /*padding-left: 90px;*/
    width: 830px;
}
.page-title1
{
    color:#F19958;
    font-size: 28px;
    font-weight: bold;
    display: block;
    margin: 0.67em 0;
    font-family: arial,sans-serif;
    padding: 45px 0 0;
}

.page-title1 p
{
    color:#A3A3A3
        display: block;
    margin: 1em 0;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
}
#ContactForm1
{
    color: #4A4A4A;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;

}
#ContactForm1 .name
{
    background: url("/assets/nam-bg.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 41px;
    margin: 10px 0 0;
    padding: 0 0 1px 10px;
    width: 198px;

}
#ContactForm1 .email
{
    background: url("/assets/eam-bg.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 41px;
    margin: 10px 0 0;
    padding: 0 0 1px 10px;
    width: 198px;

}
#ContactForm1 .msg
{
    background: url("/assets/msg-bg.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height:80px;
    margin: 10px 0 0;
    padding: 10px 17px 10px 13px;
    width: 529px;

}
#ContactForm1 .sub
{
    background: url("/assets/send.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    margin: 0 0 51px;
    padding: 0 0 20px 92px;

}
#ContactForm1 .sub:hover{
    opacity:0.84;
    cursor:pointer;
}
.find
{
    margin: 0 0 23px;
    padding: 0;
    color:#898989;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.any
{
    padding: 10px 0 20px;

    color:#A3A3A3
        display: block;
    margin: 1em 0;
    font-family: arial,sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.social {
    color: #2B2B2B;
    float: right;
    font-family: 'signpainter_housecasualRg';
    font-size: 33px;
    margin-top: 7px;
}
.social td{
    border:none;}
.social table{
    border:none;
}
.icons{
    margin: 0 auto;

    overflow: hidden;
    padding-right: 122px;
    width: 827px;
}