div.time-picker {
    position: absolute;
    height: 191px;
    width:4em; /* needed for IE */
    overflow: auto;
    background: #fff;
    border: 1px solid #aaa;
    z-index: 99;
    margin: 0;
}
div.time-picker-12hours {
    width:5em; /* needed for IE */
}

div.time-picker ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div.time-picker li {
    cursor: pointer;
    height: 10px;
    font: 12px/1 Helvetica, Arial, sans-serif;
    padding: 4px 3px;
}
div.time-picker li.selected {
    background: #0063CE;
    color: #fff;
}

.text{
    background-color: #E5E5E5;
    min-height: 36px;
    min-width: 180px;
    max-width: 290px;
    border: 1px solid #E5E5E5;
    box-shadow: 1px;
    border-radius: 10px;
    position: relative;
    top: -4px;
    left: -2px;
}

#business_category,#business_state{
    background-color: #E5E5E5;
    border: 1px solid #E5E5E5;
    box-shadow: 1px;
    max-width: 190px;
    padding: 8px;
    border-radius: 10px;
}
.time{
    width: 68px;
    padding: 2px;
}

#save_button{
    position:relative;
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    width: 110px;
    padding: 5px;
    text-align: center;
    left: 25px;
    margin-top: 10px;
    background-color: #60BED2;
    font-weight: bold;
}

#business_comment{
    left: 270px;
    position: relative;
    top: 17px;
}

#add_a_listing{
    color: #404040;
    float: right;
    font-family: icon;
    font-size: 20px;
    font-weight: bold;
    left: 340px;
    position: relative;
    top: 115px;
}

#add_list_background{
    display: block;
    float: left;
    position: relative;
    top: 125px;
    left: 230px;
    width: 496px;
    min-height: 849px;
    height: auto;
    background-repeat:no-repeat;
    background-image: url(/assets/form_background.png);
}

.left{
    padding-left: 2px;
}